#### Package Imports: [add in order of use as needed]

In [41]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
# used for encoding categorical data
from sklearn.model_selection import train_test_split 
# used for splitting training and testing data
from sklearn.preprocessing import StandardScaler 
# used for feature scaling
from sklearn.preprocessing import MinMaxScaler 
import urllib
import shutil
import tempfile
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
import string
import re

In [42]:
# EN_Vocab = pd.read_html('https://nlp.stanford.edu/projects/nmt/data/wmt14.en-de/vocab.50K.en')
en_data_vocab = pd.read_csv('Data/EN50k_Vocab.csv')
cs_data_vocab = pd.read_csv('Data/CS50k_Vocab.csv')
de_data_vocab = pd.read_csv('Data/DE50k_Vocab.csv')
czechTD = pd.read_csv('Data/czechTD.csv')
englishTD = pd.read_csv('Data/englishTD.csv')

In [43]:
# en_data_vocab.head()
czechTD.head()
# englishTD.head()

                                                Text
0  Následný postup na základě usnesení Parlamentu...
1                    Předložení dokumentů: viz zápis
2  Písemná prohlášení (článek 116 jednacího řádu)...
3                Texty smluv dodané Radou: viz zápis
4                      Složení Parlamentu: viz zápis

# Part 1: Preprocessing

## Read-in the Files [Dylan | 25-Feb]

In [48]:
en_data_vocab.describe()

       EN_Vocab
count     49997
unique    49843
top      #NAME?
freq         12

In [49]:
cs_data_vocab.describe()

       CS_Vocab
count     49998
unique    49928
top           1
freq          6

In [50]:
de_data_vocab.describe()

       DE_Vocab
count     49999
unique    49829
top      #NAME?
freq         27

In [51]:
sc = StandardScaler()
x= sc.fit_transform(x)

In [8]:
# # English-German exists as 2 separate html files plus 2 more containing top 50,000 words 
# with urllib.request.urlopen('https://nlp.stanford.edu/projects/nmt/data/wmt14.en-de/vocab.50K.en') as response:
#   en_top50k = response.read()

In [9]:
# # or use BeautifulSoup ?
# import requests
# from bs4 import BeautifulSoup
# page = requests.get('https://nlp.stanford.edu/projects/nmt/data/wmt14.en-de/vocab.50K.en')
# soup = BeautifulSoup(page.content, 'html.parser')
# #etc...

In [10]:
# # read in Spanish-English tgz file
# import tarfile
# filename = 'https://drive.google.com/drive/u/0/folders/1IGjVGO2k__0LveobjHejz_QK-O2udqXM/es-en.tgz'
# tf = tarfile.open(filename)
# tf.extractall()

## Clean up inconsistencies (apostrophes, quotes, numbers) [Dustin | 26-Feb]

# Part 2: Exploratory Data Visualization

In [ ]:
## Question: Are there specific *relevant* features we should take a look at 
## that might help us with the actual translation or with evaluation?

### Step 1: Sentence Length observations and histograms

### Step 2: Use CountVectorizer to observe highest-frequency uni-, bi-, and tri-grams (after removing stop words)

### Step 3: Wordmaps based on frequency

### Step 4: Apply POS tagger to compare distributions and proximity of POSs

### Step 5: Assess sentiment polarity with

### Step 6: Model topics using LSA and TF-IDF scores.